# =========================
# DATASETS
# =========================
food-101/
dataset/
*.zip
*.tar
*.tar.gz

# =========================
# PYTHON
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.env

# =========================
# NODE / FRONTEND
# =========================
node_modules/
dist/
build/

# =========================
# OS FILES
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE FILES
# =========================
.vscode/
.idea/

# =========================
# LOG FILES
# =========================
*.log